html {
  width: 69.3%;
  background-color: rgb(57, 58, 64);
  color: #66c2a5;
  font-size: 20px;
  padding-left: 0px;
  padding-right: 0px;
  overflow-y: hidden;
}

body {

}

#result {
  font-size: 15px;
  background-color: black;
  width: 948px;
  height:458px;
  border-color: #66c2a5;
  border-style: solid;
  border-left-width: medium;
  border-right-width: medium;
  border-top-width: thin;
  border-bottom-width: thin;
  text-align: left;
  position: absolute;
  vertical-align: top;
  word-wrap: break-word;
  top: 248px;
  left: 471px;
  overflow-y: auto;
  text-align: justify;
}

#visualization{
  position: relative;
  bottom: 500px;
  left: 463px;
}

/*Styling Form*/

div.wrap {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  float: left;
}

#myForm {
  margin-left: 90px;
  padding-top: 50px;

  height: 500px;
  width: 500px;
  align-items: center;
}


input[type=text]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100px black inset;
    -webkit-text-fill-color: white !important;
}


input[type=text]:focus {

    background-color:#66c2a5 ;

}

input[type=submit]:focus {

    background-color:#66c2a5 ;

}

input[type=button]:focus {

    background-color:#66c2a5 ;
    color: white;
}

button:focus {

    background-color:#66c2a5 ;
    color: white;

}

input[type=text] {
  width: 82.5%;
  text-align: center;
  padding: 10px;
  padding-left: 37px;
  border-color: #66c2a5;
  border-style: solid;
  border-left-width: medium;
  border-right-width: medium;
  border-top-width: thin;
  border-bottom-width: thin;
  font-size: 20px;
  height: 45px;
  background-color: black;
  color: white;
}


input[type=button] {
  width: 95.4%;
  height: 40.5px;
  align-content: center;
  text-align: center;
  border-color: #66c2a5;
  border-style: solid;
  border-left-width: medium;
  border-right-width: medium;
  border-top-width: thin;
  border-bottom-width: thin;
  font-size: 15px;
  background-color: black;
  color: grey;
  margin-left: 8.5px;
}


input[type="datetime-local"]{
  width: 80.8%;
  background-color: black;
  color: grey;
  border-color: #66c2a5;
  border-style: solid;
  border-left-width: medium;
  border-right-width: medium;
  border-top-width: thin;
  border-bottom-width: thin;
  outline: none;
  padding-left: 63px;
  text-align: center;
}
input[type="datetime-local"]::-webkit-clear-button {
    font-size: 20px;
    height: 30px;

  }
 input[type="datetime-local"]::-webkit-inner-spin-button {
    height: 28px;
  }

  input[type="datetime-local"]::-webkit-calendar-picker-indicator{
    font-size: 15px;
   }

#space {
  margin-top: 19px;
}

/*Styling Timeline*/
.vis-timeline {
  border: 1.3px solid #66c2a5;
  border-width: medium;
  border-bottom-width: thin;
  border-top-width: thin;
  background: black;
  color: #66c2a5;
  font-size: 15px;
}

.vis-item {
  color: #fff;
  font-style:bold;
  font-size: 18px;
  border-color: #fff;
  background: #66c2a5;
  opacity: .75;
}

.vis-item .vis-item-overflow {
  overflow: visible;
}

.vis-time-axis .vis-grid.vis-minor {
  border-color: #66c2a5;
}

.vis-time-axis .vis-grid.vis-major {
  border-color: grey;
}









/*tooltip styling for form*/

.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: rgba(102, 192, 165, 0.97);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    padding: 1px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-bottom: 10px;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #66c2a5 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/*Banner Styling for nav */
#navbarwidth {
    width:100%;
    position:absolute;
    text-align: center;
}
#nav {
    background: #000;
    opacity: 0.75;
    position:absolute;
    left:0%;
    top:0%;
    margin: 0px;
    padding: 0;
    border: 1.5px solid #66c2a5;

    width:100%;
    height: 42px;
}
#nav li a, #nav li {
    font-size: 14px;
    text-align: center;
    display: inline-block;
    min-width: 70px;
}
#nav li {
    list-style: none;
}
#nav li a {
    padding: 0.2em 2em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#nav li a:hover {
    color: #66c2a5;
}
ul{
  padding-left: 80px;
}
